/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
*{
    scroll-behavior: smooth;
}
body{
    max-width: 100%;
    max-height: 100%;
    background-color: black;
    color: white;
    font-family: poppins;
    font-size: 16px;
}

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    font-size: 20px;
    cursor: pointer;
    
}
.bold-nav{
    font-weight: bold;
}
.italic-nav{
   font-style: italic;
   
}

/* left-nav{
    display: inline-block;
   
  
}
.talk{
    display: inline-block;
     */

/* } */
.talk span a{
    color: white;
    text-decoration: none;
}
.line{
    height: 1px;
    width: 100px;
    background-color: white;
}

#rotate-arrow:hover{
    transition: 0.3s;
transform: rotate(200deg);
transition-timing-function: ease-in-out;
}

.side-btn img{
    
   display: block;
   margin-left: 97%;
   width: 50px;
   margin-top: 20%;
   position: fixed;
    

}
/* cursor */
.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    scroll-behavior: smooth;
    pointer-events: none;
    mix-blend-mode: difference;
}



